@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #0a0a0a;
  padding: 0;
  margin: 0;
  font-family: "Inter",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.wallet-adapter-button-trigger {
  background-color: white !important;
  color: black !important;
}

.layout{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #0a0a0a;
}

.confetti {
  top:0;
  left:0;
  position: absolute;
  z-index:999;
  pointer-events: none;
}
